<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <title>About Me</title>
  </head>
  <body>

    <div class="logout">
      <form  method="POST" >
        <label>
           <input name="logout" type="submit" value="Log Out">
        </label>
      </form>
    </div>

    <div class="box">

      <img src="css/IMG_0845.jpeg" alt="" class="box-img">

      <h1>Khanh Vu</h1>
      <h5>Computer Science Student - Software Engineer - Product Developer</h5>
      <p>I am currently a computer science student at Dalhousie University. I am going to be a software engineer in next 5 years. In fact, my dream is to become an excellent product developer</p>

      <ul>
        <li><a href="https://www.facebook.com/maevus.nubao.9"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://github.com/khanhbaovu"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.instagram.com/vbkhanhhhhhhh/"><i class="fa fa-instagram"></i></a></li>
      </ul>

    </div>
  </body>
</html>
